<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css">
</head>
<body>
    <header>
        <h1>Travel Packers</h1>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>